/* start contact us */
.contact{
    min-height: 600px;
    background-image: url(../imgs/soooo.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.contact .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .96);
}
.contact .container{
    position: relative;
    z-index:2;
}
.contact h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;
}
.contact form .right{
    float: right;
    width: 49%;
}
.contact form input:not([type="submit"]),
.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC ;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
    outline: 1px solid var(--main-color);
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s;
}   
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder{
    opacity: 0;
    transition: .3s;
}   
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder{
    opacity: 0;
    transition: .3s;
}
/* end   contact us */
/* start grid system */
@media (min-width:576px){
    .container{
        max-width: 540px;
    } 
}
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media (max-width:767px){
    .contact form .left,
    .contact form .right{
        float: none;
        width: 100%;
    }
}
/* end   grid system */
/* start footer  */
.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* end   footer  */